<section class="product-wrap">
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-sm-6 col-lg-4">
          <div class="products-list">
            <div class="product-rating"><i class="fa fa-star-half-o" aria-hidden="true"></i> <%= product.rating %></div>
            <div>
              <%= link_to image_tag(product.image, width: "200", class: "img-fluid"), product_path(product) if product.image.present? %>
            </div>
            <div class="product-title">
              <%= link_to product.name, product %>
            </div>
            <div class="product-price">
              <%= number_to_currency(product.price, unit: "$", separator: ",", delimiter: " ", format: "%n %u") %>
            </div>
            <div class="product-category">
              <%= product.category.name %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <p id="notice"><%= notice %></p>

</section>

