<div class="container">
  <%= render 'categories/categories' %>
  <div class="filter-wrap">
    <div class="filter-list">
      Sort by price:
      <%= link_to (fa_icon "sort-amount-asc"), products_path(sort: 'lowPrice'), class:'btn-custom-dark' %>
      <%= link_to (fa_icon "sort-amount-desc"), products_path(sort: 'highPrice'), class:'btn-custom-dark' %>
    </div>
    <div class="filter-list">
      Sort by name:
      <%= link_to (fa_icon "sort-alpha-asc"), products_path(sort: 'alphabetAsc'), class:'btn-custom-dark' %>
      <%= link_to (fa_icon "sort-alpha-desc"), products_path(sort: 'alphabetDesc'), class:'btn-custom-dark' %>
    </div>
    <div class="filter-list">
      <%= form_with url: products_path, method: :get, local: true do |form| %>
        <%= form.number_field :min, class: "form-input-number",
                            placeholder: "min price" %>
        <%= form.number_field :max, class: "form-input-number",
                            placeholder: "max price" %>
        <%= button_tag type: 'submit', class: "btn-transparent-light" do %>
          <i class="fa fa-search" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= render 'products/products' %>
  <div class="digg_pagination">
    <%= will_paginate @products %>
  </div>
  <p id="notice"><%= notice %></p>
</div>



